<div class="page-content">
    <div class="page-container">
        <div class="row">
            <div class="col-md-8">
                <!--<div dx-autocomplete="$ctrl.tickerSearch"></div>-->
                <div dx-select-box="$ctrl.tickerSelectBox"></div>
            </div>
            <div class="col-md-4">
                <button class="btn w-100p" ng-click="$ctrl.searchTicker()">Load Stock</button>
            </div>
        </div>
            <div id="chartfilterForm" dx-form="$ctrl.chartFilterForm"></div>
        <div class="row">
            <div id="chart" dx-chart="$ctrl.chartOptions"></div>
        </div>
    </div>
</div>